# Ignore everything inside data/
data/*

# But don't ignore the folder itself or this placeholder file
!data/.gitkeep

/pilot_data
/output_csvs
/results
/tests
/dataframes
/EVforecaster.egg-info
/.pytest_cache
/EVforecaster/__pycache__
/EVforecasterModules/__pycache__
/misc