# Ignore everything inside folders
data/*
results/*
plots/*

# But don't ignore the folder itself or this placeholder file
!data/.gitkeep
!plots/.gitkeep
!results/x_labels.pkl
!results/x.pkl

/pilot_data
/output_csvs
/results
/tests
/dataframes
/EVforecaster.egg-info
/.pytest_cache
/EVforecaster/__pycache__
/EVforecasterModules/__pycache__
/misc
/build
/build/lib
/dist